body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn,.btn1{
    border-radius: 1.5rem;
    padding: 9px 20px;
    background: green;
}
.btn1{
    float: left;
    margin-top: 24%;
}
.btn-privious,.btn1-previous{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.containerLyrics{
    display: flex;
    background: rgb(208 208 208 / 19%);
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    line-height:rgba(189, 189, 189, 0.842);
}
.displayShow{
    width: 100%;
}
.title{
    width: 75%;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.lyrics{
    color: rgb(255, 187, 0);
}

